@charset "UTF-08";

/* CONSIDERAÇÕES INICIAIS
1º -> AS CORES UTILIZADAS NO SITE MODELO FORAM SELECIONADAS APENAS PARA FACILITAR A IDENTIFICAÇÃO DE DIVS BOX E AFINS PELO CRIADOR
2º -> TODO O SITE FOI CRIADO A PARTIR DA UTILIZAÇÃO DE CSS3 E HTML5 NAO HAVENDO AINDA INTERAÇÃO COM USUARIO
3º -> SITE MODELO EM CONSTRUÇÃO, PARA MAIS INFORMAÇÕES CONTATE (28) 99917-9646 (GUSTAVO ALLEDI) VIA WPP
*/



/* 
cores utilizadas no site 
#B17244
#86634A
#DC7730
#5C4D42
#33302D
#332B26
*/

*{
    padding: 0px;
    margin: 0px;
    transition-duration:.8s;
    transition-timing-function:ease-in-out;
}


header{
    background-image: linear-gradient(to right,#B17244,#86634A,#5C4D42);
    height: 650px;
    border: 1px solid black;
}

#cabelo{
    height: 50px;
    background-image: linear-gradient(to right,#B17244,#86634A,#5C4D42);
    text-align:end;
    
    
}

#cabeça{
    background-color: rgba(5, 5, 5, 0.281);
    height: 500px;
    width: 95vw;
    margin: auto;
    display: flex;
    border: 1px solid black;
    
}
#cabeça > div{    
    
    transition-duration: 1s;
    animation-timing-function: ease-in-out;
    flex-grow: 1;    
    background-size: cover;
    background-position: center center;  
}
#cabeça > div:hover{
    background-color: rgb(71, 71, 71);
    flex-grow: 7;    
}
#cdiv1{
    
    background-color: rgb(34, 34, 34);
    
}
#cdiv2{
    background-color: rgb(44, 44, 44);
}
#cdiv3{
    flex-grow: 7;
    background-color: rgb(54, 54, 54);
    
    
}
#cdiv4{
    background-color: rgb(64, 64, 64);
}
#cdiv5{
    background-color: rgb(74, 74, 74);
}

#menu{
    background-image: linear-gradient(to right,#B17244,#86634A,#5C4D42);
    align-items: auto;
    height: 100px;   
    position: relative;
}
#logomenu{
    height: 60px;
    width: 130px;
    margin: 2px;
    padding: 2px;
    
}
#logomenu:hover{
    transition: 0.2s;
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
    
}
#menu > ul{
    
    width: 200px;
    list-style: none;
    height: fit-content;
    display: flex; 
    gap: 6px;
    flex-direction: column;    
    padding: 30px;
    color: black;
    border-radius: 10px;
    
}
#menu > ul > li{
    display: none;
    width: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 8px 10px;
    border-radius:0px 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    align-items: center;
    gap: 10px;
    
    
    
}
#menu > ul:hover > li{    
    display: flex;   
    position: relative;
}
#menu > ul > li:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
    scale: 1.02;    
    gap: 16px;
    transition: 0.1s;   
    cursor: pointer;
    
}
/*
height: fit-content;  
    display: flex;
    gap: 6px;
    flex-direction: column;
    */
body{
    background-image: linear-gradient(to top,#966039,#644a38,#1b1714);
    
    
}
    
#corpo2{
    background-color: #1b1714;
}
#corpo1 > div{
    background-color:#966039 ;
}
#corpo2 > div{
    display: flex;
}
#corpo2 > .divtext{
    background-color: rgba(0, 0, 0, 0.116);    
    height: 1000px;    
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    color: rgb(131, 123, 123);
    border: 10px;
    
}



footer{
    color: white;
    background-color: black;
    height: 100px;
    border: 1px solid black;
    margin-top: 100px;
    }
footer > div{
    display: flex; 
    align-items: center;
    justify-content: center;   
    background-position: center center;
    border: 1px solid black;
    height: 50px;
    margin: auto;
}